doctype html
html(lang="en")
    head
        title= "Sockets.Io Chat"
    body
        div(class = "message-log")
        form(action = "/chat.html")
            label Display Name
            input(type = "text" name="name")
            input(type = "submit" value = "Join Chat")

